<div class="row" id="comment-{{comment_id}}" style="margin-left:0px;">
	<div class="span1"></div>
	<div class="span10">
		<blockquote class="pull-right span12">
			<p>{{>comment}}</p>
			<p class="pull-right" style="margin-right:10px;">
				<i id="edit-{{post_id}}-icon" class="icon-pencil hidden" onClick="doEdit(1,{{comment_id}})"></i>&nbsp;
			</p>
		</blockquote>
	</div>
	<div class="span1" style="text-align:center;">
		<img src="{{avatar_url}}" width="40" height="40" /> <span id="user-{{user_id}}" style="font-size:8pt;">{{user_name}}</span>
	</div>
</div>