<div class="row" style="margin-left:0px;">
	<div class="span1"></div>
	<div class="span10">
		<blockquote class="pull-right">
			<p>{{>comment}}</p>
		</blockquote>
	</div>
	<div class="span1" style="text-align:center;">
		<img src="{{avatar_url}}" style="width:48px;height:48px;" /> <h6>{{user_name}}</h6>
	</div>
</div>