<!-- Load bootstrap CSS -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="/includes/slimbox/css/slimbox2.css" rel="stylesheet">

<!-- Minor modifications -->
<style type="text/css">
	body{
		margin-top:40px;
		background-color:lightgrey;
	}
</style>

<!-- Mostly editor-related tidbits -->
<script type="text/javascript">
var user={{>user_data}};
var tagPage="{{tag_name}}";
var postTags=[tagPage];
var postAttachments=[];
var commentEditSource='<div id="ceditContainer" class="row" style="margin-left:0px;"><div class="span1"></div><div class="span11"><iframe id="commentEditor" class="well" style="width:99%;height:100px;padding:5px;"></iframe><div style="margin-top:-20px;"><div class="btn-toolbar" style="display:inline;"><div class="btn-group" id="attach"><button class="btn"><i class="icon-upload"></i></button><button class="btn"><i class="icon-picture"></i></button></div><div class="btn-group"><button class="btn" onClick="doBold(this);"><i class="icon-bold"></i></button><button class="btn"><i class="icon-italic"></i></button></div></div><button id="sendCommentButton" class="btn btn-success btn-large pull-right" type="submit"><i class="icon-comment icon-white"></i> Comment</button></div><br><br></div></div>';
</script>