<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Load bootstrap CSS -->
<link href="/includes/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
<link href="/includes/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"></link>
<link href="/includes/css/slimbox2.css" rel="stylesheet" type="text/css"></link>
<link href="/includes/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"></link>

<link href="/includes/css/wysiwyg-color.css" rel="stylesheet" type="text/css"></link>

<!-- Titles are nice... -->
<title>DailyEntity - #{{tag_name}}</title>

<!-- Minor modifications -->
<style type="text/css">
	body{
		margin-top:40px;
		background-color:lightgrey;
	}
	
	.wysihtml5-toolbar{
		position: relative;
		top: -10px;
	}
</style>

<!-- Mostly editor-related tidbits -->
<script type="text/javascript">
var knownTags=[];
var user={{>user_data}};
var tagPage="{{tag_name}}";
var postTags=[tagPage];
var postAttachments=[];
var lastNotification=0;
var commentEditSource='<div id="ceditContainer" class="row" style="margin-left:0px;"><div class="span1"></div><div class="span11"><textarea id="commentBox" class="well" style="width:99%;height:100px;padding:5px;"></textarea><br><br></div></div>';
</script>