<div class="row" style="margin-left:0px;" id="post-{{post_id}}">
	<div class="span1" style="text-align:center;">
		<img src="{{avatar_url}}" /> <h6>{{user_name}}</h6>
	</div>
	<div class="span11">
		<blockquote style="background-color:#f5f5f5;padding-top:10px;">
			<p>{{>post_content}}</p>
			<p class="pull-right" style="margin-right:10px;">
				<i id="comments-{{post_id}}-icon" class="icon-comment" onClick="$('#comments-{{post_id}}-icon').toggleClass('icon-white');$('#comments-{{post_id}}').toggle(500);"></i><sup><sup>{{total_comments}}</sup></sup>
			</p>&nbsp;
		</blockquote>
	</div>
</div>

<div id="comments-{{post_id}}">
	{{>comments}}
</div>