<!-- Post Box -->
<h2>What's up, buttercup?</h2>
<textarea id="postbox" class="well" style="width:99%;height:100px;padding:5px;"></textarea>

<!-- Div -->
<h1 style="color:#666">#{{tag_name}}<small> {{tag_slogan}}</small></h1>
<hr style="margin-top:-12px;">
<br>

<!-- Posts -->
<div id="postContainer">