<br>
<h5><i class="icon-th-list"></i> de.nav</h5>
<div style="">
        <ul class="nav nav-list">
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">contact</a></li>
        </ul>
</div>

<br>

<h5><i class="icon-tag"></i> popular tags</h5>
<div id="popTagsContainer">{{>popular_tags}}</div>

<br><br>

<h5><i class="icon-user"></i> online now</h5>
{{>online_users}}