<!-- DailyEntity v3.0 -->
<!DOCTYPE html>
<html lang="en">
<head>
	{{>header}}
</head>
<body onLoad="doStuff();">
		
	<div class="container" style="background-color:white;border:1px solid #BBB;box-shadow:0 1px 2px rgba(0, 0, 0, .075);padding-top:20px;padding-bottom:20px;">
	
	{{>nav}}
	
	<!-- Main layout -->
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Left column -->
			<div class="span10">
				{{>content}}
				</div>
			</div>
			<!-- Right column -->
			<div class="span2" style="">
				{{>sidebar}}
			</div>
		</div>
	</div>
	</div>
	
	<!-- Load jquery, now, client scripts, bootstrap scripts and slimbox -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/nowjs/now.js"></script>
	<script type="text/javascript" src="/includes/client.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
	<script src="/includes/bootstrap/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/includes/slimbox/js/slimbox2.js"></script>
	<script type="text/javascript">jQuery(function($) {$('.dropdown-toggle').dropdown();});</script>
</body>
</html>